<suite name = "TGxd Test Suite" parallel="classes" thread-count="5">
  
   	<groups>
	<run>
	<include name="Sanity"/>
	</run>
	</groups>

 <test name = "NameTests" > 
     
  <classes>
   <class name="com.tgxd.gtw.nameApi.test.AiringsTest"/>
   <class name = "com.tgxd.gtw.nameApi.test.NameTest" />
   <class name="com.tgxd.gtw.nameApi.test.CreditsTest"/>   
   <class name="com.tgxd.gtw.nameApi.test.GetFavouritesTest"/>
  </classes> 
 </test>
 
 <test name= "ProgramTests">
 
 	<classes>
 		<class name="com.tgxd.gtw.programApi.test.ProgramAiringsTest"/>
 		<class name="com.tgxd.gtw.programApi.test.ProgramCastCrewTest"/>
 		<class name="com.tgxd.gtw.programApi.test.ProgramDetailsTest"/>
 		<class name="com.tgxd.gtw.programApi.test.ProgramGetFilteredProgramTest"/>
 		<class name="com.tgxd.gtw.programApi.test.ProgramSimilarTest"/>
	 </classes>
 </test>
 
</suite>